<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>kushimori</title>

  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">kushimori</a>
      <div class="mr-auto"></div>
      {%- if session %}
      <a href="#">{{ session.screen_name }}</a>
      {%- else %}
      <a href="/login" >login</a>
      {%- endif %}
    </nav>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <h3>
        </div>
      </div>
    </div>
    
  </body>
</html>
  
